.sidebar__container {
    height: calc(100vh - var(--music-player-height));
    min-width: 16rem;
    padding: 0.74rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-right: 0.1rem solid var(--divider-color);
}

.sidebar__section {
    display: flex;
    flex-direction: column;
}

.sidebar__section__title {
    font-size: 0.75rem;
}
