.root__container {
    margin-left: auto;
    margin-right: auto;

    display: flex;

    border-left: 0.1rem solid var(--divider-color);
    border-right: 0.1rem solid var(--divider-color);
}

.root__container__content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.root__container__content__body {
    padding-left: 1.38rem;
    padding-right: 1.38rem;
}
