@import "@progress/kendo-theme-default/dist/all.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
}

.bg-white {
    background-color: white !important;
}

:root {
    --spacing-1: 0.5rem;
    --background-paper: #212124;
    --background-main: #171719;
    --divider-color: lightgray;
    --fg-subtitle: #9898a6;

    --music-player-height: 5.88rem;
}
